@import "tailwindcss";

@theme {
  --color-primary: #1ab59c;        
  --color-primary-light: #48c4b0;  
  --color-primary-dark: #148e7a;   

}
.container {
  max-width: 90vw;
  margin-inline: auto;
}
.padding-x {
  padding-inline: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 95vw;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-dark);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}